---
import Base from "../components/base.astro";
---

<Base>
	<h1>Editor</h1>
	<h2>Features to build</h2>
	<ol>
		<li>Padding Area</li>
		<li>Rounding Corners</li>
		<li>Unsplash Background</li>
		<li>Export/Save/Copy Button</li>
	</ol>
</Base>