---
import Base from "../components/base.astro";
---

<Base>
	<h1>Editor</h1>
	<h2>Features to build</h2>
	<ol>
		<li>Resolution Slider</li>
		<li>FPS Slider</li>
		<li>Loop/Non-loop</li>
		<li>Export button</li>
	</ol>
</Base>