---
import Base from "../components/base.astro";
---

<Base>
	<main class="h-full w-full bg-[#111] p-[80px] flex flex-col items-center">
		<h1 class="text-xl">Welcome to Helmer</h1>
		<p>Micro can record buttery smooth, sharp GIFs from your screen.</p>

		<p>
			<section>
				Before you get started, we'll need permission to record your
				screen.
			</section>

			<button>Grant Permission</button>
		</p>

		<section>
			<h2>You're all set!</h2>

			<p>
				Press CTRL + SHIFT + 2 and drag to select an area of your
				screen.
			</p>
			<p>
				Micro can record upto 20 seconds and gives you some settings to
				play with.
			</p>

			<p>
				Share your creations online with the hash #MadeWithMicro, we'd
				love to see it!
			</p>
		</section>
	</main>
</Base>

<script>
	const button = document.querySelector("button") as HTMLButtonElement;

	button.addEventListener("click", async () => {
		console.log("clicked");
	});
</script>
