---
import Base from "../components/base.astro";
import Titlebar from "../components/titlebar.astro";
---

<Base>
	<Titlebar />
	<main class="h-full w-full bg-[#181818] flex flex-col items-center">
		<h1>Welcome to Helmer</h1>
		<div id="logo">
			<svg
				width="309"
				height="68"
				viewBox="0 0 309 68"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M235.956 7.71321e-06L238.731 26.4408L228.059 27.5643C226.936 27.6825 226.445 28.4167 226.551 29.4294L230.223 64.4213L202.589 67.3304L199.035 33.4636C197.181 15.7989 208.322 2.90913 225.959 1.0525L235.956 7.71321e-06Z"
					fill="#F2AC72"></path>
				<path
					d="M100.09 0.783691L127.206 3.63817L120.624 66.3616L93.5085 63.5071L100.09 0.783691Z"
					fill="#F47271"></path>
				<path
					d="M21.4805 30.4908H19.9678L26.7246 47.7487L33.4871 65.107H0V2.03809H33.01L43.8687 24.1982L54.7274 2.03809H87.6366V65.107H54.1494L61.0128 47.7487L67.7696 30.4908H66.2569L52.7244 65.107H34.9121L21.4805 30.4908Z"
					fill="#F2AC72"></path>
				<path
					d="M194.453 22.0733C191.629 14.7043 186.32 8.55721 179.445 4.69749C172.571 0.837777 164.565 -0.491293 156.815 0.94064C149.065 2.37257 142.06 6.47525 137.013 12.5376C131.966 18.5999 129.196 26.2398 129.183 34.1331C129.17 42.0264 131.914 49.6755 136.941 55.7548C141.967 61.834 148.959 65.9602 156.704 67.4181C164.449 68.8761 172.459 67.5739 179.347 63.7373C186.234 59.9007 191.564 53.7715 194.413 46.412L162.939 34.1898L194.453 22.0733Z"
					fill="#0EB07D"></path>
				<ellipse
					cx="275.568"
					cy="33.5724"
					rx="33.4317"
					ry="33.485"
					fill="#F47271"></ellipse>
			</svg>
		</div>
		<p>
			Record razor-sharp, buttery smooth GIFs up to 20 seconds long, right
			from your menu bar!
		</p>

		<p>
			To record, click the tray icon or press Ctrl/Cmd + Shift + 2 and
			select an area.
		</p>

		<p>
			Share your GIFs online with <a
				href="https://twitter.com/search?lang=en&q=(%23MadeWithMicro)"
				>#MadeWithMicro</a
			>, we'd love to see them. Happy recording!
		</p>

		<button>Get Started!</button>
	</main>
</Base>

<script>
	const button = document.querySelector("button") as HTMLButtonElement;

	button.addEventListener("click", async () => {
		console.log("clicked");
	});
</script>

<style>
	h1 {
		color: #fff;
		font-family: "Bricolage Grotesque Variable", sans-serif;
		font-size: 22px;
		font-weight: 600;
		letter-spacing: -0.44px;
		margin-bottom: 16px;
		cursor: default;
	}

	main {
		padding-top: 64px;
	}

	#logo {
		margin-bottom: 42px;
	}

	#logo svg {
		width: 100%;
		height: 100%;
	}

	p {
		color: #afafaf;
		max-width: 400px;
		text-align: center;
		font-family: "Bricolage Grotesque Variable", sans-serif;
		font-size: 18px;
		line-height: 1.4em;
		letter-spacing: -0.18px;
		margin-bottom: 16px;
		cursor: default;
	}

	button {
		border-radius: 10px;
		padding: 14px 36px;
		background-color: #cd7e6e;
		color: #fff;
		font-family: "Bricolage Grotesque Variable", sans-serif;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 800;
		letter-spacing: -0.72px;
		transition: all 0.2s ease;
		margin-top: 24px;
		line-height: normal;
		box-shadow: #874a4a00 0px 4px 12px;
	}

	button:hover {
		transform: translateY(-2px);
		box-shadow: #613535aa 0px 4px 12px;
	}
</style>
