<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	* {
		box-sizing: border-box;
		user-select: none !important;
		text-rendering: optimizeLegibilty;
		-webkit-user-select: none !important;
		-webkit-font-smoothing: antialiased;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		overscroll-behavior: none;
		color: white;
	}
</style>

<script>
	import "@fontsource-variable/bricolage-grotesque";
</script>
