<html lang="en" class="h-full overflow-hidden">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="/favicon.ico" />
		<style is:global>
			* { user-select: none !important; -webkit-user-select: none !important; box-sizing: border-box;}
			html, body { height: 100%; margin:0; padding: 0; overscroll-behavior: none;}
		</style>
	</head>
	<body>
		<slot />
	</body>
</html>